AWS_ENV=local

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
FLOCI_ENDPOINT=http://localhost:4566

S3_BUCKET=spacex-engines-project
DYNAMODB_TABLE=latest_reading
KINESIS_STREAM=engine-telemetry
